<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <style>
      body{
        background-color: #f8f9fa;
      }
        .hizala {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            padding: 10px;
            width: 400px;
            background-color: #ffff;
            border-radius: 5px;
        }

        .form-container label {
            margin-bottom: 5px;
        }

        .form-container input[type="text"],
        .form-container input[type="password"],
        .form-container input[type="email"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        .form-container button {
            width: 100%;
            padding: 10px;
           
            border-radius: 10px;
            background-color: white;
            color: green  ;
        }

        .form-container button:hover{
         
          background-color: green;
            color: white  ;
            transition-duration: 0.5s;
        }

        .notification-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include("../partials/nav") %>

    <div class="container">
        <div class="row">
            <div class="col-md-12 hizala">
                <form method="post" class="form-container">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" />

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" />

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" />

                    <button type="submit">Kayit Ol</button>
                </form>

                <% if (typeof message != "undefined") { %>
                <div class="notification-container alert alert-<%= message.class %>">
                    <%= message.text %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
