<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="card card-body">
            <form method="post">
              <input type="hidden" name="roleid" value="<%= role.id %>" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <div class="row mb-3">
                <label for="baslik" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="rolename"
                    name="rolename"
                    value="<%= role.rolename %> "
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-8 offset-sm-2">
                  <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
              </div>
            </form>
          </div>
          <p>kullan覺c覺 say覺s覺: none</p>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th style="width: 50px">id</th>
                <th style="width: 150px">isim</th>
                <th style="width: 150px">email</th>

                <th style="width: 200px"></th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
              <tr>
                <td>#<%= user.id %></td>
                <td><%= user.fullname %></td>
                <td><%= user.email %></td>

                <td>
                  <a
                    class="btn btn-sm btn-primary"
                    href="/admin/users/<%= user.id %>"
                    >edit</a
                  >

                  <form
                    action="/admin/roles/remove"
                    method="post"
                    style="display: inline-block"
                  >
                    <input
                      type="hidden"
                      name="_csrf"
                      value="<%= csrfToken %>"
                    />
                    <input type="hidden" name="userid" value="<%= user.id %>" />
                    <input type="hidden" name="roleid" value="<%= role.id %>" />
                    <button type="submit" class="btn btn-sm btn-danger">
                      rolden Cikar
                    </button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
